body{
    background-image: url("bg.png");
    height: 1450px;
    top: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
  }
.part1{
    display:flex;
    padding-left: 70px;
    
}
.part2{
    display:flex;
    padding-left: 35px;
    
}
.one{
    padding-left: 70px;
    text-align: center;
}
.two{
    padding-left: 150px;
    text-align: center;
}
.three{
    padding-left: 150px;
    text-align: center;
}
.four{
    padding-left: 130px;
    text-align: center;
}
.five{
    padding-left: 150px;
    text-align: center;
}
.navbar {
    overflow: hidden;
    background-color: rgb(111, 108, 108);
    padding-left: 550px;
    
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
  }
  
  
  
  .navbar a:hover {
    background-color: white;
  }
  
  .navbar a.active {
    background-color: #ddd;;
    color: black;
  }
